//colores de fondo
$main-color: rgba(192,217,230, 0.8);
$secondary-color:rgba(55, 101, 121, 0.8);
$cian-color:#80aec3;
$lightblue-color:#cce0e7;
//colores de texto
$color-blue:#27576a;
$color-brown:#6B6666;
//colores
$black:#161515


